@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?o6vsnb');
  src:  url('../fonts/icomoon.eot?o6vsnb#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?o6vsnb') format('truetype'),
    url('../fonts/icomoon.woff?o6vsnb') format('woff'),
    url('../fonts/icomoon.svg?o6vsnb#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xiangyou:before {
  content: "\e60c";
}
.icon-suijibofang:before {
  content: "\e622";
}
.icon-shengyin:before {
  content: "\e614";
}
.icon-next:before {
  content: "\e654";
}
.icon-danquxunhuan:before {
  content: "\e66d";
}
.icon-next1:before {
  content: "\e6f4";
}
.icon-bofang1:before {
  content: "\e63a";
}
.icon-shangyishou:before {
  content: "\e63c";
}
.icon-xiayishou:before {
  content: "\e63e";
}
.icon-xiangzuo:before {
  content: "\e85e";
}
.icon-erjiheadphones31:before {
  content: "\e778";
}
.icon-sousuo:before {
  content: "\e650";
}
.icon-bofang:before {
  content: "\e65c";
}
.icon-wangyiyunyinle-:before {
  content: "\e62c";
}
